/*
Color Palette

[!] OLD [!]
- navy/slate blue: #2b2944
- darker ^: #1b1f2a
- gold"ish": #d2cc28
- mint: #2be772

*/

/*


SCROLLBAR STYLING (!)


*/

.row {
    margin-right: 0;
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
    display: none;
    background: #fefefe;
}

h2 {
    color: #2b2944;
}

p {
    font-size: 1.5rem;
    font-family: "Roboto";
}

a, a:hover, a:active {
    text-decoration: none;
}

.mobile-notif {
    background: #fdff9b;
    position: fixed;
    color: #000;
    margin-top: -10px;
    margin-left: 0px;
    width: 100%;
    z-index: 1000;
}

.mobile-notif h3 {
    font-size: 0.9em;
}

.mobile-notif a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.mobile-notif a object {
    pointer-events: none;
}

.navbar {
    /* background-color: #fefefe; */
    border-radius: 0px;
    width: 100%;
    height: 8em;
}

.navbar-brand {
    position: relative;
    top: 4em;
    left: 50%;
    margin-left: -4em;
}

.navbar-brand object {
    pointer-events: none;
    width: 7em;
}

.jumbotron {
    padding-top: 5rem;
    background: none;
}

.dev-text h2 {
    color: #2b2944;
    font-family: "Novecento ExtraBold";
    font-size: 4rem;
    margin-top: 3em;
}

.info-section {
    padding: 3em;
}

.info-section h3 {
    color: #ff2194;
    font-size: 2.5rem;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
}

.info, .project-images {
    padding: 5%;
}

.project-images {
    padding-top: 0;
}

.project-images .dev-text {
    padding: 0 3em 4em 3em;
}

.project-images .row figure {
    margin-top: 1em;
}

.project-images .row figure img {
    width: 100%;

    border: 1px solid #bbb;
    border-radius: 8px;
}

footer {
    padding: 50px;
    background-color: #fff;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    margin-left: -15px;
}

footer img {
    margin-top: 1em;
}

.icon-octocat object {
    pointer-events: none;
    width: 2em;
}