body {
    background: linear-gradient(#6ac3cb, #6bcba2);
}

.jumbotron {
    padding-bottom: 20em;
    padding-top: 10em;
}

.jumbotron img {
    position: relative;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    box-shadow: 0px 8px 8px #222;
}

.section-title {
    margin-left: 0;
}

.section-title a {
    margin-top: -90px;
}

.section-title a h1 {
    font-family: 'Novecento Bold';
    font-size: 2em;
    color: white;
    position: relative;
    background-color: #000;
    box-shadow: 8px 8px 0px rgba(255, 255, 255, 1);

    /* width: 250px;
    height: 250px;
    text-overflow: unset;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-character;
    padding: 20px; */

    padding: 20px;
    padding-top: 15px;
    z-index: 1;
}

.projects {
    background: linear-gradient(#604c8d, #785eb3);
    width: 100%;
    margin-top: -49px;
    margin-bottom: -60px;
    padding: 100px 50px 100px 50px;
    z-index: 0;
}

.projects a h2 {
    font-family: 'Roboto Slab';
    font-size: 3em;
    color: #000;
    background-color: #fff;
    padding: 20px 20px 20px 30px;
    z-index: 99;
}

.projects a h2:active {
    background: #000;
}

.info .dev-text {
    padding: 0 2em 0 2em;
    margin-top: -5em;
}


/* Sweep To Left */
.hvr-sweep-to-left {
    /* display: inline-block; */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-sweep-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#ff2194, #f25c93);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
    color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Box Shadow Outset */
.hvr-box-shadow-outset {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}