h1 {
    font-family: "Mosk Bold";
}

.dev-text h2 {
    font-size: 3rem;
}

figure h2 {
    text-align: center;
}

p {
    font-size: 1.6rem;
    text-align: center;
}

.jumbotron {
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-top: 2em;
}

.jumbotron .row {
    padding: 3rem;
}

.jumbotron h1 {
    color: #fff;
    font-size: 5rem;
    font-family: serif;

    /*text-shadow: 10px 10px 15px #888;*/

    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
}

.jumbotron .row h2 {
    color: #000;
    font-size: 3.5rem;
    font-family: serif;
    font-style: italic;

    animation-delay: 3s;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -o-animation-delay: 3s;

    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
}

.jumbotron .row p {
    font-family: serif;
    font-size: 2.5rem;
    text-align: left;
    color: #fff;

    animation-delay: 5s;
    -moz-animation-delay: 5s;
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;

    animation-duration: 4s;
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    -o-animation-duration: 4s;
}

.jumbotron .row img {
    width: 100%;

    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
}

.jumbotron .row p .num {
    font-size: 3rem;
}

.special-h {
    font-style: italic;
}

.project-text h3 {
    color: #6ac3cb;
    font-size: 2.5rem;
    font-family: "Mosk SemiBold", sans-serif;
}

.project-info {
    margin-top: 50px;
}