//- body header
#body-loader: img(src='/assets/img/loaders/tail-spin.svg')
#rotate-device: img(src='/assets/img/rotate-device.png')

nav.navbar
  a.navbar-brand(href='/index.html'): img(src='/assets/img/logo/sergix.svg' alt='SERGIX')
  .page-title.col-xs-12