doctype html
html(lang="en")
  head
    include _head.pug
    title /sergix

  body
    include _header.pug

    main#barba-wrapper.container-fluid
      .barba-container.row
        section#short-description.col-xs-12.col-sm-12.col-md-12.col-lg-8
          h1 programmer.
          h1 designer.
          h1 slightly amateur.

    include _links.pug