.jumbotron .row img {
    width: 100%;

    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
}

h1 {
    font-family: "Axis";
    font-size: 5rem;
}

.project-text h3 {
    color: #2be772;
    font-size: 2.5rem;
    font-family: "Segoe UI Semibold", sans-serif;
}