/*
Color Palette
- navy/slate blue: #2b2944
- darker ^: #1b1f2a
- gold"ish": #d2cc28
- mint: #2be772

*/

* {
    font-family: "Mosk Regular";
}

body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fefefe;
}

h2 {
    color: #2b2944;
}

p {
    font-family: "Mosk Regular";
}

.dev-text h2 {
    color: #2b2944;
    font-family: "Mosk Light";
    font-size: 4rem;
    margin-top: 3em;
}

.jumbotron {
    /*background-color: #6fde99;*/
    background-color: #6ac3cb;
}

.navbar {
    background-color: #fefefe;
    border-radius: 0px;
    position: fixed;
    z-index: 1001;
    width: 90%;
}

.navbar-brand object {
    margin-top: -0.65em;
    width: 10em;
}

.navbar-toggle {
    float: left;
}

.navbar-toggle .icon-bar {
    background-color: #2be772;

    animation-duration: 1.5s;
}

#sergix-toggle-nav ul li a {
    font-size: 1.5rem;
    padding: 1em 1.5em 1em 1.5em;
    font-family: "Mosk Regular";
}

#sergix-toggle-nav ul li a:hover {
    background-color: #2be772;
}


.jumbotron {
    padding-top: 5rem;
}

.info-section {
    padding: 3em;
}

.info-section h3 {
    color: #6ac3cb;
    font-size: 2.5rem;
    font-family: "Mosk SemiBold", sans-serif;
}

.info-section p {
    font-size: 1.5rem;
    font-family: "Mosk Regular", sans-serif;
}

.info, .project-images {
    padding: 5%;
}

.project-images {
    padding-top: 0;
}

.project-images .dev-text {
    padding: 0 3em 4em 3em;
}

.project-images .row figure {
    margin-top: 1em;
}

.project-images .row figure img {
    width: 100%;

    border: 1px solid #bbb;
    border-radius: 8px;
}

footer p {
    margin-top: 1.5em;
    font-family: sans-serif;
    font-size: 1.5rem;
}

footer img {
    margin-top: 1em;
}