$link-yellow:	#d1b257
$link-gold:		#fcb239
$ultraviolet:	#5f4b8b
$magenta:		#b66ba3
$slate-blue: 	#2b2944
$navy-blue: 	#1b1f2a
$chartruse: 	#d2cc28
$mint: 			#2be772
$dark-grey:		#555
$light:			#efefef
$dark:			#181818
$sky:           #6ac3cb
$teal:          #6bcba2
$pink:          #ff2194