$link-yellow:	#d1b257
$link-gold:		#fcb239
$ultraviolet:	#5f4b8b
$magenta:		#b66ba3
$tangy-red:     #fc5139
$slate-blue: 	#2b2944
$navy-blue: 	#1b1f2a
$chartruse: 	#d2cc28
$mint: 			#2be772
$light-grey:    #aaa
$dark-grey:		#555
$light:			#eee
$dark:			#2a2a2a

$sky:           #6bcbba
//$teal:        #6bcba2
$pink:          #ff2194
$muted-purple:  #cb6b94
$purple:        #a26bcb
$lime:          #94cb6b
$muted-red:     #cb6b7c
$salmon:        #cb726b

// monochromatic and desaturated red-pink
$mid-grey:      #9d9e94
$dark-pink:     #c99e93
$grey:          #d5d2c8
$brown-grey:    #d9d0ab
$grey-pink:     #e5b8ad
$light-pink:    #f59d92
$bright-red:    #f17363
$red:           #ef5e4c

// cyan - complements red-pink pallette above
// $cyan:        #9aeaf5 // base
$light-cyan:    #a9eff7 // monochromatic
$s-cyan:        #4cddef // monochromatic
$d-cyan:        #10a0b2 //
$teal:          #92f5cf // analagous
// $yellow:     #eaf592 // triadic
$bright-pink:   #f592ea // tetradic

// classic spark pallette (http://www.colourlovers.com/palette/4586799/Classic_Spark)
$cyan:          #9aeaf5
$retro-red:     #ef5e4c
$muted-yellow:  #eaf592
$spark-pink:    #f592ea
$hadrien:       #d9d4c1
