@import url('//fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab')

$sans-serif: 'Arial', sans-serif
$serif: 'Roboto Slab', serif
$monospace: 'Roboto Mono', monospace
$logo-font: 'Ostrich Sans Inline'
