@import url('//fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab')

$sans-serif: 'Arial', sans-serif
$sans-serif-heavy: 'Arial Black', 'Arial', sans-serif
$serif: 'Roboto Slab', serif
$monospace: 'Roboto Mono', monospace
