@import 'colors'
@import 'fonts'
@import 'media'
@import 'center'

*
	color: $dark
	text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

html
	overflow-x: hidden
	overflow-y: hidden
	width: 100%
	height: 100%

body
	background-color: $light
	overflow-x: hidden
	overflow-y: hidden
	width: 100%
	height: 100%
	-webkit-box-sizing: border-box
       -moz-box-sizing: border-box
            box-sizing: border-box

body.loading > *:not(#body-loader)
	visibility: hidden
	opacity: 0

#body-loader
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	img
		width: 2em
		height: 2em

#rotate-device
	top: 0
	background: $dark
	position: fixed
	display: none
	width: 100%
	height: 100%
	z-index: 1000 !important

	img
		background: $dark
		width: 20%
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		z-index: 1000

.navbar
	position: fixed
	display: flex
	justify-content: center
	align-items: center
	top: 8%
	width: 100%

	.navbar-brand
		height: 5em
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		margin-right: 0

		img
			width: 25.5vh
			height: 3.5em
			z-index: 999

	.page-title
		@extend %center-transform
		top: 23vh
		position: fixed
		font-size: 120%
		font-weight: 400
		color: $dark
		letter-spacing: 0.5em
		font-family: $monospace
		text-align: center
		margin-left: 0.2ch

main
	padding: 50px
	width: 100%
	position: fixed

#links-open
	background-color: $dark
	position: fixed
	right: 3ex
	bottom: 3ex
	width: 5em
	height: 5em
	text-align: center
	box-shadow: 4px 4px $ultraviolet
	cursor: pointer
	z-index: 5
	transition: background-color 0.3s

	&.hover
		background-color: $link-yellow

	&.active
		background-color: $link-gold

	a
		font-size: 3.2em
		text-decoration: none
		color: $light
		font-family: $monospace
		font-weight: 1000
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none

#links-wrapper
	transition: all 0.3s
	position: fixed
	right: 0
	bottom: 0

	#links
		position: relative
		right: -200%
		bottom: 7.5em
		transition: all 1s
		z-index: 0

		-webkit-transition: right 0.6s;
		-moz-transition: right 0.6s;
		-o-transition: right 0.6s;
		transition: right 0.6s;

		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);

		&.active
			right: 0

		a
			color: $link-yellow
			font-family: "Roboto Mono"
			font-size: 2vw
			letter-spacing: 1ex
			text-decoration: none
			transition: padding 0.3s
			margin-top: 1px
			position: relative
			float: right
			padding: 0.5ex 1ch 0.5ex 1ch
			background-color: $ultraviolet
			clear: both

			&:hover
				color: $link-gold
				padding-right: 4ch

#links-open.index
	display: none

#links-wrapper.index > #links
	position: fixed
	bottom: 25px
	right: 25px

	a
		background: $dark

@media #{$screen-xs}
	@media (orientation: landscape)
		#rotate-device
			display: initial

	#links-wrapper > #links > a
				font-size: 6vw

	.page-title
		font-size: 5vw

@media #{$screen-md}, #{$screen-sm}
	@media (orientation: portrait)
		#links-wrapper > #links > a
			font-size: 4vw
