@import 'colors'
@import 'fonts'
@import 'media'
@import 'mixins'

*
	color: $dark
	text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

html
	overflow-x: hidden
	overflow-y: hidden
	width: 100%
	height: 100%

body
	background-color: $light
	overflow-x: hidden
	overflow-y: hidden
	width: 100%
	height: 100%
	-webkit-box-sizing: border-box
       -moz-box-sizing: border-box
            box-sizing: border-box

body.loading > *:not(#body-loader)
	visibility: hidden
	opacity: 0

#body-loader
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	img
		width: 2em
		height: 2em

#rotate-device
	top: 0
	background: $dark
	position: fixed
	display: none
	width: 100%
	height: 100%
	z-index: 1000 !important

	img
		background: $dark
		width: 20%
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		z-index: 1000

// .navbar
// 	display: flex
// 	justify-content: center
// 	align-items: center
// 	padding: 0

.navbar
	position: fixed
	top: 10%
	z-index: 999

	.navbar-brand
		position: fixed
		left: 50%
		transform: translateX(-50%)
		display: flex
		justify-content: center
		margin-right: 0
		width: 10em
		border: 1px solid $dark
		box-shadow: 4px 4px $dark
		transition: all 0.2s
		z-index: 5
		padding: 10px

		&.hover
			border: 1px solid $link-yellow
			box-shadow: 4px 4px $link-yellow

		&:active
			border: 1px solid $link-gold
			box-shadow: 2px 2px $link-gold

.page-title
	@extend %center-transform
	top: 22%
	position: fixed
	font-size: 100%
	font-weight: 400
	color: $dark
	letter-spacing: 0.5em
	font-family: $monospace
	text-align: center
	margin-left: 0.2ch

main
	padding: 50px
	width: 100%
	position: fixed

#links-open
	background-color: $dark
	position: fixed
	right: 25px
	bottom: 7px
	width: 4em
	height: 4em
	text-align: center
	box-shadow: 4px 4px $ultraviolet
	cursor: pointer
	z-index: 5
	transition: background-color 0.3s

	&.hover
		background-color: $link-yellow

	&.active
		background-color: $link-gold

	a
		@extend %no-select
		font-size: 2.5em
		text-decoration: none
		color: $light
		font-family: $monospace
		font-weight: 1000

#links-wrapper
	@extend %hardware-acceleration
	transition: all 1s
	position: fixed
	right: -100%
	bottom: 0

	&.active
		right: 0

	#links
		position: relative
		bottom: 5.5em
		z-index: 0

		a
			color: $link-yellow
			font-family: "Roboto Mono"
			font-size: 2vw
			letter-spacing: 1ex
			text-decoration: none
			transition: padding 0.3s
			margin-top: 1px
			position: relative
			float: right
			padding: 0.5ex 1ch 0.5ex 1ch
			background-color: $ultraviolet
			clear: both

			&:hover
				color: $link-gold
				padding-right: 4ch

#links-open.index
	display: none

#links-wrapper.index
	position: fixed
	right: 0

	#links
		bottom: 25px
		right: 25px

		a
			background: $dark

@media #{$screen-xs}
	@media (orientation: landscape)
		#rotate-device
			display: initial

	#links-wrapper > #links > a
				font-size: 6vw

	.page-title
		font-size: 5vw

@media #{$screen-md}, #{$screen-sm}
	@media (orientation: portrait)
		#links-wrapper > #links > a
			font-size: 4vw
