@import 'colors'
@import 'fonts'
@import 'media'
@import 'mixins'


*
	color: $dark
	text-rendering: optimizeLegibility

html
	height: 100%
	overflow-x: hidden
	overflow-y: hidden
	width: 100%

body
	background-color: $light
	height: 100%
	overflow-x: hidden
	overflow-y: hidden
	width: 100%

.loading > *:not(#body-loader)
	opacity: 0
	visibility: hidden

#body-loader
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);

	img
		height: 2em
		width: 2em

#rotate-device
	background: $dark
	display: none
	height: 100%
	position: fixed
	top: 0
	width: 100%
	z-index: 1000 !important

	img
		background: $dark
		left: 50%
		position: fixed
		top: 50%
		transform: translate(-50%, -50%)
		width: 20%
		z-index: 1000

.navbar
	position: fixed
	top: 10%
	z-index: 999

	.navbar-brand
		border: 1px solid $dark
		box-shadow: 4px 4px $dark
		display: flex
		justify-content: center
		left: 50%
		margin-right: 0
		padding: 10px
		position: fixed
		transform: translateX(-50%)
		transition: border box-shadow .2s
		width: 10em
		z-index: 5

		&.hover
			border: 1px solid $link-yellow
			box-shadow: 4px 4px $link-yellow

		&:active
			border: 1px solid $link-gold
			box-shadow: 2px 2px $link-gold

.page-title
	@extend %center-transform
	color: $dark
	font-family: $monospace
	font-size: 100%
	font-weight: 400
	letter-spacing: .5em
	margin-left: .2ch
	position: fixed
	text-align: center
	top: 22%

main
	padding: 50px
	position: fixed
	width: 100%

#links-open
	background-color: $dark
	bottom: 7px
	box-shadow: 4px 4px $ultraviolet
	cursor: pointer
	height: 4em
	position: fixed
	right: 25px
	text-align: center
	transition: background-color .3s
	width: 4em
	z-index: 5

	&.hover
		background-color: $link-yellow

	&.active
		background-color: $link-gold

	&.index
		display: none

	a
		@extend %no-select
		color: $light
		font-family: $monospace
		font-size: 2.5em
		font-weight: 1000
		text-decoration: none

#links-wrapper
	@extend %hardware-acceleration
	bottom: 0
	position: fixed
	right: -100%
	transition: right 1s

	&.active
		right: 0

	#links
		bottom: 5.5em
		position: relative
		transition: bottom .4s
		z-index: 0

		a
			background-color: $ultraviolet
			clear: both
			color: $link-yellow
			float: right
			font-family: $monospace
			font-size: 2vw
			letter-spacing: 1ex
			margin-top: 1px
			padding: .5ex 1ch
			position: relative
			text-decoration: none
			transition: padding .3s

			&:hover
				color: $link-gold
				padding-right: 4ch

	&.index
		position: fixed
		right: 0

		#links
			bottom: 25px
			right: 25px

			a
				background: $dark

@media #{$screen-xs}
	#links-wrapper > #links > a
		font-size: 6vw

	.page-title
		font-size: 5vw

	@media (orientation: landscape)
		#rotate-device
			display: initial

@media #{$screen-md}, #{$screen-sm}
	@media (orientation: portrait)
		#links-wrapper > #links > a
			font-size: 4vw
