@import 'colors'
@import 'fonts'
@import 'media'
@import 'center'

main.design
	width: 100%
	height: 100%

	#control-buttons
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		margin-top: 23vh

	.image-control
		float: left
		width: 3.5em
		height: 3.5em
		margin: 0px 30px 0px 20px
		padding: 13px 14px 10px 14px
		background-color: $dark
		box-shadow: 4px 4px $ultraviolet
		cursor: pointer
		transition: background-color 0.3s
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none

	.image-control:hover
		background-color: $magenta

	#before-button:active, #next-button:active
		box-shadow: 6px 6px $magenta

	.image-control
		object
			pointer-events: none
			width: 1.5em
			height: 1.5em

	.carousel
		position: fixed
		left: 0
		top: 50%
		width: 100%
		display: flex
		justify-content: center
		align-items: center

	#loader-icon
		margin-top: 15vh

	#loader-progress
		font-family: $monospace
		position: fixed
		font-size: 10vh
		bottom: 15%
		font-weight: 700

	.slick-slide > img
		width: 45vw

	img.tall
		width: 20vw

.fancybox-container
	.fancybox-infobar > span
		color: $light
	svg > path
		color: $light

@media #{$screen-xs}
	main.design
		.slick-slide > img
			width: 90vw
		img.tall
			width: 45vw
