@import 'colors'
@import 'fonts'
@import 'media'


#short-description
	bottom: 25px
	left: 25px
	position: fixed

	h1
		color: $dark
		font-family: $sans-serif
		font-kerning: normal
		font-size: 10vw
		font-weight: 600
		letter-spacing: -.1em
		line-height: 1em
		margin: -.1em

@media #{$screen-xs}, #{$screen-sm}, #{$screen-md}
	@media #{$portrait}
		#short-description
			bottom: 35%
			left: auto
			right: 19px

			h1
				float: right
				font-size: 17vw
				text-align: right
