@import 'colors'
@import 'fonts'
@import 'media'
@import 'mixins'


.project
	#large-title
		@extend %no-select
		bottom: -.1em
		font-family: $sans-serif-heavy
		font-size: 15vw
		left: -.1em
		letter-spacing: -10px
		line-height: .6em
		position: fixed
		width: 40%
		word-wrap: break-word

	.project-info
		bottom: 2em
		position: fixed
		right: -25%
		width: 80%

		section
			float: left

		h2
			background-color: $dark
			color: $light
			font-size: 2vw
			font-style: italic
			font-weight: 700
			letter-spacing: -2px
			padding: 10px

		p
			font-family: $serif
			font-size: 1vw
			padding-left: 20px

		a
			color: $dark
			font-family: $monospace
			text-decoration: underline

			&:hover
				color: $retro-red

		.row2 > p > a
			clear: both
			float: left
			line-height: 2em
			width: 100%

	.slick-dots
		left: 50%
		margin-top: -10px
		position: fixed
		transform: translateX(-66.6%)

		li
			background-color: rgba(0, 0, 0, .4)
			border-radius: 100%
			display: inline
			float: left
			height: 1px
			list-style: none
			margin: 5px
			padding: 5px
			width: 1px

			button
				background-color: transparent !important
				box-shadow: none !important
				opacity: 0

			&.slick-active
				background-color: rgba(0, 0, 0, .7)

@media #{$screen-xs}
	@media #{$portrait}
		.project
			#large-title
				font-size: 5em
				left: -15px
				line-height: .7em
				width: 120%

			.slick-slide
				margin-left: 100px
				width: 90vw

			.project-info
				bottom: auto
				left: 5vw
				position: fixed
				top: 30vh
				width: 100%

				h2
					font-size: 150%

				p
					font-size: 80%

@media #{$screen-sm}
	@media #{$portrait}
		.project
			.project-info
				bottom: 4em
				position: fixed
				right: -25%
				width: 90%
