@import 'colors'
@import 'fonts'
@import 'media'


.projects
	#project-list
		left: 0
		list-style: none
		padding-left: 0
		position: fixed
		top: 35%
		width: 100%

		li
			font-family: $monospace
			font-size: 2em
			margin-left: 2px
			margin-top: 3px

		li > a
			background-color: $dark
			color: $light
			letter-spacing: 10px
			padding: 0 15px 5px
			text-decoration: none
			transition: padding .3s
			transition-timing-function: ease-out

			&:hover
				color: $retro-red
				padding: 0 15px 5px 20vw

			&:active
				padding: 0 15px 5px 22vw

@media #{$screen-xs}
	.projects
		#project-list
			display: block
			float: right
			left: auto
			right: 25px

			li
				clear: both
				float: right

@media #{$screen-sm}
	.projects
		#project-list
			li
				align-items: center
				clear: both
				display: flex
				justify-content: center

@media #{$screen-md}
	.projects
		#project-list
			li
				align-content: center
				clear: both
				display: flex
				justify-content: center

@media #{$screen-lg}
	.projects
		#project-list
			align-items: center
			display: flex
			justify-content: center
			top: 50%

		#project-list > li > a
			&:hover
				padding: 0 15px 7vh

			&:active
				padding: 0 15px 10vh
