@import 'colors'
@import 'fonts'
@import 'media'


.research
	position: fixed
	top: 25%
	width: 100%

	section
		margin-top: .5em
		width: 100%

		h2
			background-color: $dark
			color: $light
			font-family: 'Helvetica'
			font-size: 3vh
			font-style: italic
			font-weight: 700
			padding: 10px

		p > a
			color: $dark
			display: block
			font-family: $monospace
			font-size: 3vh
			line-height: 50px
			margin-left: 10px
			text-decoration: underline

			&:hover
				color: $link-gold

			&.disabled
				color: $dark-grey
				text-decoration: none

				&:hover
					color: $dark-grey
