doctype html
html(lang="en")
  head
    include ../_head.pug
    title /sergix/design

  body
    include ../_header.pug

    main#barba-wrapper.container-fluid
      .barba-container
        section#control-buttons.col-xs-12
          figure#before-button.image-control: object(type='image/svg+xml' data='/assets/img/feather/arrow-left.svg')
          figure#next-button.image-control: object(stype='image/svg+xml' data='/assets/img/feather/arrow-right.svg')
        section
          section.carousel.col-xs-12

    include ../_links.pug