@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* scroll snapping fix notes:
    - https://ishwar-rimal.medium.com/fixing-that-address-bar-issue-in-mobile-browsers-once-and-for-all-8c283fc88e56
    - https://stackoverflow.com/questions/75113350/webkit-scroll-snap-bug
    - https://stackoverflow.com/questions/64317214/safari-webkit-css-scroll-snap-bug
    - https://stackoverflow.com/questions/17328742/mobile-chrome-fires-resize-event-on-scroll
  */

  /* scroll snapping fix */
  /* html {
    overflow: hidden;
    width: 100%;
  } */

  body {
    margin-left: auto;
    margin-right: auto;

    /* scroll snapping fix */
    /* height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; */
  }
}

@layer components {
  .btn {
    font-weight: 500;
    font-size: 1.125rem;
    padding-top: 0.325rem;
    padding-bottom: 0.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: relative;
  }

  .btn-gradient-outline {
    background: white;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 0.275rem;
  }

  .btn-gradient-outline:before {
    background: linear-gradient(180deg, rgba(250,183,172,1) 0%, rgba(247,137,150,1) 100%);
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    margin: -2px;
    position: absolute;
    border-radius: inherit;
    z-index: -1;
  }

  .btn-largelink {
    /* @apply gradient-primary; */
    @apply font-medium;
    @apply mt-4;
    @apply px-3 pt-2 pb-1;
    @apply text-black text-5xl;
    @apply rounded-lg;
    @apply shadow-inner;

  }

  .btn-largelink:hover {
    @apply gradient-primary;
  }

  .btn-largelink:active {
    @apply gradient-primary-soft;
  }
};