main {
	margin-top: 20vh;
}

#project-list {
	list-style: none;
	width: 100%;
	height: 100%;
	position: fixed;
}

#project-list li {
	font-family: "Roboto Mono";
	font-size: 6vh;
	margin-top: -2px;
	margin-left: 2px;
}

#project-list li a {
	padding: 0px 15px 0px 15px;
	background-color: black;
	text-decoration: none;
	letter-spacing: 10px;
	color: #fff;
	transition: padding 0.3s;
	transition-timing-function: ease-out;
}

#project-list li a:hover {
/*	color: #604c8d;*/
	color: #fcb239;
}

@media (max-width: 767px) {
	#project-list {
		display: block;
		float: right;
		right: 25px;
	}
	
	#project-list li {
		float: right;
		clear: right;
	}
	
	#project-list li a:hover {
		padding: 0px 15px 0px 20vw;
	}
}

@media (min-width: 767px) and (max-width: 991px) {
	#project-list {
		position: absolute;
		top: 100%;
	}
	
	#project-list li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -10%;
		clear: both;
		margin-top: 2px;
	}
	
	#project-list li a:hover {
		padding: 0px 15px 0px 20vw;
	}
}

@media (min-width: 991px) and (max-width: 1199px) {
	#project-list {
		position: absolute;
		top: 50%;
	}
	
	#project-list li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -10%;
		clear: both;
		margin-top: 2px;
	}
	
	#project-list li a:hover {
		padding: 0px 15px 0px 20vw;
	}
}

@media (min-width: 1200px) {
	#project-list {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 100%;
	}
	
	#project-list li a:hover {
		padding: 0px 15px 7vh 15px;
	}
}
