---
import LayoutDefault from '@layouts/LayoutDefault.astro';
---

<LayoutDefault title="notfound">
  <main class="px-6 my-8 md:mt-24">
    <h1 class="text-6xl font-medium leading-none">Page Not Found</h1>
    <p class="text-xl mt-8 md:mt-16">You seem to have lost your way.</p>
    <a class="border-b-2 border-primary text-2xl" href="/">
      Return home.
    </a>
  </main>
</LayoutDefault>