---
import LayoutDefault from "@layouts/LayoutDefault.astro";
---

<LayoutDefault title="design">
  <main class="px-6 my-8 mx-auto md:w-2xl lg:w-4xl">
    <div class="flex flex-row items-center mt-8 md:mt-16">
      <h1 class="text-5xl font-medium flex-1">DESIGNS</h1>
      <img class="-mr-16 z-neg-1 -mb-8" src="/image/circle.svg" />
    </div>
    <h2 class="mt-2 border-black border p-6 mr-4 md:rounded-tr-full">A small collection of part of my web design and artwork.</h2>
    <section class="mt-16">
      <h2 class="text-xl">
        Websites and Web Applications
      </h2>
      <img
        class="max-w-64 mt-8 md:max-w-sm lg:max-w-lg lg:mt-16"
        src="/image/designs/sparkboard-macbook-mockup_compressed.jpg"
      />
      <img
        class="max-w-64 mt-4 ml-auto md:max-w-sm lg:max-w-lg lg:mt-32"
        src="/image/designs/workdrop-iphone-mockup_compressed.jpg"
      />
      <img
        class="max-w-48 mt-4 md:max-w-sm lg:max-w-lg lg:mt-32"
        src="/image/designs/northside-iphone.png"
      />
    </section>
    <section class="mt-20 lg:mt-64">
      <h2 class="text-xl">
        Artwork
      </h2>
      <p class="mt-4 leading-tight">
        Some of this artwork is available for purchase at Redbubble.
      </p>
      <a href="https://sergix7440.redbubble.com/">
        <button class="btn btn-gradient-outline mt-6 pt-2">
          OPEN SHOP
        </button>
      </a>
      <div class="artwork">
        <img
          src="/image/designs/yearbook_2020.png"
        />
        <img
          class="ml-auto"
          src="/image/designs/yearbook_2019.png"
        />
        <img
          src="/image/designs/something-different_web.png"
        />
        <img
          class="ml-auto"
          src="/image/designs/something-different-hardcover-journal_compressed.jpg"
        />
        <img
          src="/image/designs/perspective-matters.png"
        />
        <img
          class="ml-auto"
          src="/image/designs/let-the-sky-fall-down-hardcover-journal_compressed.jpg"
        />
      </div>
    </section>
  </main>
</LayoutDefault>

<style lang="sass">
.artwork > img
  @apply max-w-48
  @apply mt-8

@screen md
  .artwork > img
    @apply max-w-sm

@screen lg
  .artwork > img
    @apply max-w-lg mt-32

    &:first-child
      @apply mt-16
</style>
