---
import LayoutDefault from "@layouts/LayoutDefault.astro";
---

<LayoutDefault title="design">
  <main class="px-6 my-8 mx-auto md:w-2xl lg:w-4xl">
    <div class="flex flex-row items-center mt-8 md:mt-16">
      <h1 class="text-5xl font-medium flex-1">DESIGNS</h1>
    </div>
    <h2 class="mt-2 border-black border p-6 mr-4 md:rounded-tr-full">A small collection of part of my web design and artwork.</h2>
    <section class="mt-16 grid grid-cols-2 gap-4">
      <h2 class="text-4xl lg:text-7xl mt-auto">
        Websites
      </h2>
      <img
        class="rounded"
        src="/image/designs/sparkboard-macbook-mockup_compressed.jpg"
      />
      <img
        class="rounded"
        src="/image/designs/workdrop-iphone-mockup_compressed.jpg"
      />
      <img
        class="rounded-lg"
        src="/image/designs/northside-iphone.png"
      />
    </section>
    <section class="mt-8 lg:-mt-36">
      <h2 class="text-4xl lg:text-7xl">
        Artwork
      </h2>
      <p class="mt-4 leading-tight">
        Some artwork is available at Redbubble.
      </p>
      <a href="https://sergix7440.redbubble.com/">
        <button class="btn btn-gradient-outline mt-2 pt-2">
          OPEN SHOP
        </button>
      </a>
      <div class="mt-8 grid grid-cols-2 gap-4">
        <img
          class="rounded-lg"
          src="/image/designs/yearbook_2020.png"
        />
        <img
          class="rounded-lg"
          src="/image/designs/yearbook_2019.png"
        />
        <img
          class="rounded-lg"
          src="/image/designs/something-different_web.png"
        />
        <img
          class="rounded-lg"
          src="/image/designs/something-different-hardcover-journal_compressed.jpg"
        />
        <img
          class="rounded"
          src="/image/designs/perspective-matters.png"
        />
        <img
          class="rounded-lg"
          src="/image/designs/let-the-sky-fall-down-hardcover-journal_compressed.jpg"
        />
      </div>
    </section>
  </main>
</LayoutDefault>
