---
import LayoutDefault from '@layouts/LayoutDefault.astro';

import Card from '@components/Card.vue'
---

<LayoutDefault title="webdev">
  <main class="px-6 my-8 mx-auto">
    <div class="mt-8 md:p-8 md:mt-16">
      <h1 class="text-5xl font-medium md:pt-5 md:pb-4 px-2 py-2">WEBSITES</h1>
      <!-- <img
        class="-ml-12 -mt-20 relative z-neg-1"
        src="/image/circle.svg"
      /> -->
      <h2 class="mt-2 max-w-md border border-black p-6">All websites were built with modern, scalable, and open source web technologies.</h2>
    </div>

    <div class="md:grid grid-cols-2 grid-flow-row row-gap-4 mb-16 mt-24">
      <Card
        title="Northside Christian School"
        link="https://www.northsidecharleston.com/"
        date="August 2023"
        tags="WordPress, Divi"
        img="websites/ncs-desktop.png"
      >
        A ministry of Northside Baptist Church in Charleston, South Carolina.
      </Card>
      <Card
        title="Bedi Legal, P.C."
        link="https://www.bedilegal.com/"
        date="January 2023"
        tags="Wix"
        img="websites/bedilegal-desktop.png"
      >
        A family-friendly law office in Chesapeake, VA.
      </Card>
      <Card
        title="SoilEconomy LLC"
        date="May 2022"
        tags="SquareSpace"
        img="websites/soileconomy-mobile.png"
      >
        A startup funded by the SCRA and Elon Musk's XPrize for carbon sequestration research.
      </Card>
      <Card
        title="Northside Baptist Church"
        link="https://www.northsideministries.com/"
        date="January 2022"
        tags="Vue, Nuxt, Netlify + Netlify Functions"
        img="websites/northside-mobile.png"
      >
        An independent baptist church in Charleston, South Carolina.
      </Card>
      <Card
        title="Cruise Control Driving School"
        date="August 2020"
        tags="Wix"
      >
        A locally-owned driving school in Charleston, SC.
      </Card>
      <Card
        title="workdrop"
        date="April 2020"
        tags="Vue, Nuxt, Netlify, MongoDB Atlas + Realm, AWS"
        img="websites/workdrop-mobile.png"
      >
        A file requesting app designed for teachers and educators.
      </Card>

      <Card
        title="BlueTree Landscaping"
        date="March 2020"
        tags="Vue, Gridsome, Netlify, Storyblok"
        img="websites/bluetree-mobile.png"
      >
        A local landscaping company in Charleston, SC.
      </Card>

      <Card
        title="BlygoldSC"
        date="August 2020"
        tags="Vue, Gridsome, Netlify"
        img="websites/blygold-mobile.png"
      >
        Custom HVAC corrosive-resistant coating for commercial distributors within the southeast region of the United States.
        A partner of <a class="font-medium hover:underline" href="https://www.blygold.com/">Blygold International BV</a>.
      </Card>
    </div>
  </main>
</LayoutDefault>

<style lang="sass">
@screen md
  .card
    @apply mx-4
</style>
