* { box-sizing: border-box; }

.grid {
    width: 90%;
    margin-left: 5%;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item { width: 25%; }

.grid-item--width2 { width: 50%; }

.grid-item img {
  display: block;
  width: 100%;
  padding: 10px;
}

.jumbotron h1 {
    width: 10%;
    color: #fff;
    font-size: 6rem;
    padding: 2em 0 1em 0em;
    font-family: 'Mosk Regular', Helvetica, sans-serif;
    text-align: center;
}

.jumbotron {
    /*background-image: url('/img/jumbotron-design.png');*/
    background-size: cover;
}

.image-info h2 {
    font-family: 'Mosk Light';
    font-size: 18pt;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 768px) {
  .grid {
    width: 100%;
    margin-left: 0;
  }

  .grid-sizer,
  .grid-item { width: 33.333%; }
  
  .grid-item--width2 { width: 66.666%; }
}

@media screen and (max-width: 640px) {
    .grid {
      width: 100%;
      margin-left: 0;
    }
  
    .grid-sizer,
    .grid-item { width: 100%; }
    
    .grid-item--width2 { width: 100%; }
  }