doctype html
html(lang="en")
  head
    include ../_head.pug
    title /sergix/projects

  body
    include ../_header.pug

    main#barba-wrapper
      .barba-container
        ul#project-list
          li: a(href='jterm.html') /jterm
          li: a(href='root.html') /root
          li: a(href='canvas5.html') /canvas5
          li: a(href='wrapper.html') /wrapper

    include ../_links.pug