doctype html
html(lang="en")
  head
    include ../_head.pug
    title /sergix/projects/root

  body
    include ../_header.pug

    main#barba-wrapper.container-fluid
      .barba-container
        section#large-title
          | ROOT
        .project-info
          section.row1
            h2.text-center Packages
            p
              | One of root&apos;s main advantages over other command-line tools is that it supports full portable package creation and installation. Using root&apos;s built-in programming language, Interp, you can code your own distributable packages that execute as a single command.
          section.row1
            h2.text-center Interp
            p
              | A custom language used to build packages, Interp is an interpreted language that can also be used as a stand-alone language for writing your own programs.
          section.row2
            h2.text-center Hackable
            p
              | Written in C++, the root source files are included in a GitHub repository, and open for contributions. You may clone and modify the files as you like. Make it yours!
          section.row2
            h2.text-center Resources
            p
              a.col-xs-12.no-barba(href='https://github.com/Sergix7440/root/raw/master/release/rootc.exe') Download Latest Release

    include ../_links.pug
