$light-color: #ebebeb;
$dark-color: #141414;
$accent-color: #fab7ac;
$secondary-color: #f78996;

$font-stack-serif: Georgia, serif;
$font-stack-sans-serif: Helvetica, sans-serif;

$responsive-xs: 544px;
$responsive-sm: 768px;
$responsive-md: 992px;
$responsive-lg: 1200px;
