section.card {
  background-color: #fff;
  color: $dark-color;
  margin: 2em;
  margin-left: 25%;
  margin-right: 50%;
  padding: 4em;
  width: 50%;

  h2 {
    color: $dark-color;
    font-size: 2em;
    padding-bottom: 0.5em;
  }
}
