---
import '@assets/css/fonts.css'
import '@assets/css/global.css'

export interface Props {
	title: string;
}
const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:i&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:b&display=swap" />

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<title>{'/' + title}</title>
	</head>
	<body class="md:static">
		<slot />
		<aside class="fixed bottom-0 left-0 bg-zinc-900 text-white p-4 text-md w-full transition-opacity flex" id="reversible-computing-banner">
			<span class="mx-auto">Visit my new <a href="https://reversiblecomputing.info" class="pl-1 font-bold text-purple-500 hover:text-purple-600 transition-colors underline" target="_blank">Reversible Computing Project</a></span>
			<button id="reversible-computing-banner-close-btn" class="w-6">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>close</title><path fill="white" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
			</button>
		</aside>
	</body>
</html>

<style lang="sass">
	body
		@apply overflow-x-hidden
		@apply min-h-screen 
		@apply flex
		@apply flex-col
		@apply max-w-lg-screen
		@apply mx-auto
		@apply overflow-x-hidden
		@apply relative
</style>

<script>
	// astro, not vue, layout
	function closeBanner() {
		const banner = document.getElementById("reversible-computing-banner")
		if (banner)
			banner.style.opacity = '0'
	}

	const banner_btn = document.getElementById("reversible-computing-banner-close-btn")
	banner_btn?.addEventListener('click', (e) => {
		closeBanner()
	})

	// close banner on ESC key
	window.addEventListener("keyup", (e) => {
		console.log("ello")
		if (e.key === "Escape") {
			closeBanner()
		}
	}, true)
	
</script>

<!-- <script>
	export default {
	  metaInfo() {
		return {
		  meta: [
			{ name: 'description', content: this.$page.post.description },
	
			// Some Open Graph Tags
			{ property: 'og:title', content: this.$page.post.title },
			{ property: 'og:description', content: this.$page.post.description },
			{ property: 'og:image', content: this.$page.post.cover_image },
			{
			  property: 'og:url',
			  content: this.$static.metadata.siteUrl + this.$page.post.path,
			},
	
			// Some Twitter Cards Tags
			{ name: 'twitter:card', content: 'summary_large_image' },
			{ name: 'twitter:title', content: this.$page.post.title },
			{ name: 'twitter:image', content: this.$page.post.cover_image },
			{ name: 'twitter:description', content: this.$page.post.description },
		  ],
		}
	  },
	}
</script> -->

<!-- 
	// meta tags
	head.meta.push({
	  name: 'keywords',
	  content: 'Design,Programming,Blog,Portfolio',
	})
  
	head.meta.push({
	  name: 'author',
	  content: 'Peyton McGinnis',
	})
  
	head.meta.push({
	  name: 'description',
	  content: 'Designing and developing fast, responsive websites and web apps using modern and low-cost web technologies.',
	})
  
	head.meta.push({
	  name: 'theme-color',
	  content: '#F78996',
	})
  
	head.link.push({
	  rel: 'stylesheet',
	  href:
		'https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap',
	})
  
	head.meta.push({
	  key: 'og:description',
	  name: 'og:description',
	  content: `Form follows function.`,
	})
  
	head.meta.push({
	  key: 'og:image',
	  name: 'og:image',
	  content: `https://sergix.dev/ogimage.png`,
	})
  }
   -->